<div id="footer">
    <div id="footer-left">
    &copy; Copyright Regius Group, C.A.. <span id="spanYear"></span> <a href="">www.regiusgroup.com</a>. Todos los derechos reservados.</div>
    <div class="clear">&nbsp;</div>
</div>