<div id="page-top-outer">    
    <div id="page-top">
        <div id="logo">
        <a href=""><img src="img/shared/logoregius.png" width="200" height="80" alt="" /></a>
        </div>
        <div id="top-search">
            <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td><div class="title-green">Sistema de Gestión</div></td>
            </tr>
            </table>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="clear">&nbsp;</div>