<div id="message-green">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="green-left"><?php echo $message; ?></td>
            <td class="green-right"><img src="img/table/icon_close_green.gif"   alt="" /></td>
        </tr>
    </table>
</div>