<div id="message-yellow">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="yellow-left"><?php echo $message; ?></td>
            <td class="yellow-right"><img src="img/table/icon_close_yellow.gif"   alt="" /></td>
        </tr>
    </table>
</div>