<div id="message-blue">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="blue-left"><?php echo $message; ?></td>
            <td class="blue-right"><img src="img/table/icon_close_blue.gif"   alt="" /></td>
        </tr>
    </table>
</div>