<div id="message-red">
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="red-left"><?php echo $message; ?></td>
            <td class="red-right"><img src="img/table/icon_close_red.gif" alt="" /></td>
        </tr>
    </table>
</div>