<div class="estados form">
<?php echo $this->Form->create('Estado'); ?>
	<fieldset>
		<legend>Estado</legend>
	<?php
        echo $this->Form->input('id');
		echo $this->Form->input('nombre');
        echo $this->Form->input('activo');
	?>
	</fieldset>
<?php echo $this->Form->end('Guardar'); ?>
</div>

