.bar-tools {

	&.col9 {
		margin-left: 0;
		margin-right: 0;
	}

	ul {
		border: 1px solid #CCC;
		height: 33px;
		margin: 0;
		padding: 0;
		@include gradients(#F0F0F0, #E2E2E2);

		li {
			border-right: 1px solid #CCC;
			float: left;
			line-height: 33px;
			padding: 0 10px;

			&:hover {
				@include gradients(#E2E2E2, #F0F0F0);
			}

			&.right {
				border-left: 1px solid #CCC;
				border-right: 0;
				float: right;
			}

			a {
				text-decoration: none;
			}
		}
	}
}