/*
  styles commons at desktop
*/

.header {
	background: url($texture-header) repeat;
	background-position: 0 0;
	height: 53px;
	min-width: 980px;

	h1.txtc {
		margin: 0;
		line-height: 53px;

		a {
			background: url($sprite-elements) no-repeat -8px -37px;
			display: block;
			height: 53px;
			margin: 0 auto;
			width: 170px;
			@include hide-text();
		}
	}

	i {
		position: relative;
		top: 5px;
	}

	.logo h1 {
		margin: 0;
		@include hide-text();

		a {
			background: url($sprite-elements) no-repeat -8px -37px;
			display: block;
			height: 53px;
			margin-left: 20px;
			width: 170px;			
		}
	}

	.wrap-right {
		width: 280px;
	}

	.zoom-menu {
		background: url($texture-header) repeat;
		background-position: 0 0;
		height: 53px;		
		border-left: 1px solid $greendark;
		cursor: pointer;		
		height: 53px;
		width: 49px;

		i {
			left: 12px;
		}

		&.activated i {
			background-position: -492px -75px;
		}
	}

	.user-nav {
		background: url($texture-header) repeat;
		background-position: 0 0;
		height: 53px;		
		margin-right: 20px;
		position: relative;
		width: 210px;

		.arrow {
			background: url($sprite-elements) no-repeat;
			background-position: -40px -11px;
			height: 8px;
			left: 105px;
			position: absolute;
			top: -6px;
			width: 8px;
		}

		.name {
			border-left: 1px solid $greendark;
			border-right: 1px solid $greendark;
			color: #fff;
			display: block;
			font-size: $font_size_default;
			height: 53px;
			margin: 0;
			text-align: center;
			text-decoration: none;
		}

		.user-options {
			background: $black;
			border-bottom: 4px solid $greenmedium;
			box-shadow: 1px 1px 6px #333;
			margin: 6px 0;
			padding: 0 10px;
			position: absolute;
			width: 190px;
			z-index: 999;

			li {
				border-bottom: 1px solid #444;
				font-size: 14px;
				height: 38px;

				&:hover {
					border-bottom: 1px solid #999;
				}

				a {
					color: #FFF;
					display: block;
					line-height: 38px;
					text-decoration: none;
					overflow: hidden;
				}

				span {
					display: block;
				}

				i {
					margin-right: 5px;
					top: -2px;
				}
			}
		}
	}

	.activated {
		background: $black;
	}
}

.bar-info {
	border-bottom: 1px solid #CCC;
	height: 40px;
	width: 100%;
	min-width: 980px;
	@include gradients(#EEE, #DDD);

	.user {
		border-right: 1px solid #CCC;
		width: 250px;

		p.username {
			font-size: $font_size_default;
			line-height: 40px;
			margin: 0;
			text-align: center;
		}
	}

	.breadcrumb {
		ul {
			height: 40px;
			margin: 0 0 0 10px;
			padding: 0;

			li {
				height: 40px;
				float: left;
				font-size: $font_size_default;
				line-height: 40px;

				.separator {
					margin: 0 8px 0 11px;
				}

				a {
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.help {
		border-left: 1px solid #CCC;
		border-right: 1px solid #CCC;
		margin-right: 20px;
		width: 40px;

		&:hover {
			@include gradients(#DDD, #EEE);
		}

		a {
			display: block;
			height: 40px;
			text-align: center;
		}

		.icon-help {
			width: 40px;
		}
	}
}

.menu {
	background: #EEE;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	box-shadow: 0px 3px 10px #333;
	left: -260px;
	padding: 25px 20px;
	position: fixed;
	width: 210px;
	z-index: 999;
	@include transition-dur(1s);

	&.activated {
		left: 0;
		@include transition-dur(1s);
	}

	ul {
		border-bottom: 1px solid #CCC;
		margin: 0;
		padding: 0;
	
		li {
			cursor: pointer;
			font-size: $font_size_default;
			height: 33px;
			line-height: 33px;
			padding-left: 10px;
			@include box-sizing();

			a {
				text-decoration: none;
			}

			&.title {
				background: url($texture-menu) repeat;
				border-top: 1px solid #0D6836;
				border-left: 1px solid #0D6836;
				border-right: 1px solid #0D6836;
				border-bottom: none;
				color: #FFF;
				width: 100%;
			}

			&.list-group {
				height: auto;
				overflow: hidden;

				&.closed {
					height: 33px;
				}				

				.list-actions {
					background: #24513A;
					box-shadow: inset 0px 2px 7px #222;
					margin-left: -10px;

					li {
						border-bottom: 1px solid #326B4F;

						&:hover {
							background: #17422c;
						}
					
						a {
							color: #DDD;
							font-size: 14px;

							&:hover {
								color: #FFF;
							}
						}

						i {
							margin-left: 8px;
						}
					}
				}				
			}

			&.element {
				border-top: 1px solid #CCC;
				border-left: 1px solid #CCC;
				border-right: 1px solid #CCC;
				border-bottom: none;
				position: relative;
				width: 210px;
				@include gradients(#F0F0F0, #E2E2E2);

				&:hover > a i {
					position: relative;
					margin-left: 8px;
					@include transition-dur(.5s);
				}

				&.closed {
					display: block;
					visibility: visible;

					.list-arrow {
						background-position: -72px -11px;
					}
				}

				a {
					display: block;
				}	

				i {
					margin-right: 10px;
					position: relative;
					@include transition-dur(.5s);
				}				

				.list-arrow {
					background: url($sprite-elements) no-repeat;
					background-position: -105px -11px;
					height: 8px;
					position: absolute;
					right: 10px;
					top: 12px;
					width: 8px;
				}
			}
		}
	}
}

.content-fluid {
	margin: 25px auto;
	position: relative;
	overflow: hidden;
	width: 95%;
	max-width: 1600px;
	min-width: 980px;

	section,
	.wrap-form {
		margin-bottom: 20px;
	}

	.wrap-form {
		overflow: hidden;
		
		&.closed {
			display: block;
			visibility: visible;
		
			legend .btn-collapse {
				background-position: -440px -7px;
			}
		
			.content {
				height: 0;
				position: relative;
				top: -400px;
			}
		}

		.content {
			position: relative;
			top: 0;
			overflow: hidden;
			@include transition-dur(0.5s);
		}

		fieldset {
			overflow: hidden;
		}

		legend {
			position: relative;
			z-index: 100;

			.btn-collapse {
				background: url($sprite-elements) -401px -7px no-repeat;
				cursor: pointer;
				display: block;
				float: right;
				height: 18px;
				position: relative;
				top: 7px;
				width: 18px;
			}
		}
	}
}

@import "bar-tools.scss";