.login {
	margin: 100px 0 40px;
	overflow: hidden;

	.wrap-login {
		background: #FFF;
		border: $border;
		border-radius: $radius;
		float: none;
		margin: 0 auto;

		.title {
			color: #FFF;
			height: 40px;
			position: relative;
			right: 10px;
			width: 390px;
			@include gradients(#2F6449, #214733);	

			@media only screen and(min-width: 1360px) {
				width: 490px;
			}

			h2 {
				font-size: 16px;
				line-height: 40px;
				margin: 0 25px;
			}	

			.fixed-prepend {
				background: url($sprite-elements) no-repeat;
				background-position: -9px -11px;
				height: 10px;
				left: 0;
				position: absolute;
				width: 10px;
			}	
		}

		.content {

			.sign-up,
			.forgot-password {
				padding: 10px 0;
			}		

			.link-password {
				color: #777;
				font-size: 13px;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			.back-login {
				float: none;
				margin: 10px auto 30px;
			}

			.controls {
				margin: 10px 0 20px;
				width: 100%;

				.btn-success {
					float: none;
					margin: 0 auto;
				}

				&.input-append {
					width: 85%;
					margin-left: auto;
					margin-right: auto;

					input {
						display: inline-block;
						height: 40px;
						line-height: 40px;
						margin-right: 0;

						@media only screen and (min-width: 1360px) {
							width: 305px;
						}
					}

					span {
						display: inline-block;
						height: 40px;
						left: -5px;
						position: relative;
						width: 50px;
						@include gradients-with-image($sprite-icons, no-repeat, #EEE, #FCFCFC);

						&.icon-user {
							background-position: -12px 0;
						}
						&.icon-password {
							background-position: -60px 0;						
						}
						&.icon-email {
							background-position: -108px 0;
						}
					}
				}
			}
		}
	}
}

.footer-login {
	p {
		color: #777;
		font-size: 14px;
		margin: 5px 0;
	}
}