.pagination {
	border: 1px solid #CCC;
	display: inline-block;
	height: 35px;
	margin: 0;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-right: 1px solid #CCC;
			float: left;
			line-height: 35px;
			width: 35px;
			@include gradients(#EFEFEF, #E5E5E5);

			&:hover,
			&.actived {
				@include gradients(#E5E5E5, #EFEFEF);
			}

			&.actived {
				color: #333;
				font-weight: 700;
				text-align: center;								
			}
		
			&.last {
				border-right: 0;
			}

			a {
				color: #B3B3B3;
				display: block;
				font-weight: 700;
				text-align: center;

			  	&:hover {
   					color: $font_color_links;
  				}	
			}

			.icon-next,
			.icon-last {
				background: url($sprite-elements) no-repeat;
				display: block;
				height: 35px;
			}

			.icon-last {
				background-position: -262px 1px;

				&:hover {
					background-position: -329px 1px;
				}
			}

			.icon-next {
				background-position: -226px 1px;

				&:hover {
					background-position: -293px 1px;
				}
			}
		}
	}
}