.box {
	background: #FFF;
	border: 1px solid #CCC;
	@include box-sizing();
	
	&.col5 {
		margin-left: 0;
	}

	&.col9 {
		margin-left: 0;
		margin-right: 0;
	}

	.header-box {
		height: 35px;
		@include gradients(#F0F0F0, #E2E2E2);

		h3 {
			line-height: 35px;
			margin: 0;
			padding-left: 15px;
		}
	}

	&.resumen {
		ul {
			margin: 0;
			padding: 0;

			li {
				border-bottom: 1px solid #CCC;
				height: 35px;
				line-height: 35px;
				padding-left: 15px;

				&.last {
					border: 0;
				}

				&:hover {
					background: #EEE;
				}

				span {
					float: left;
				}

				.graphic {
					background: url($sprite-elements) no-repeat;
					background-position: -191px -5px;
					display: block;
					height: 20px;
					position: relative;
					top: 8px;
					width: 20px;
				}

				.name {
					font-size: 14px;
					&.col2 {
						margin-left: 0;
					}
				}

				.amount {
					color: #444;
					font-size: 20px;
					font-weight: 700;
					text-align: center;
				}

				.btn-small {
					background: $bluelight;
					color: #FFF;
					font-size: 14px;
					font-weight: 400;
					float: right;
					margin-right: 15px;
					margin-top: 3px;

					&:hover {
						box-shadow: inset 1px 1px 5px #568699;
					}
				}
			}
		}
	}
}