.btn-mini,
.btn-small,
.btn,
.btn-big {
  border: 2px solid;
  color: $font_color_btn;
  cursor: pointer;
  display: block;
  font-family: $font_default;
  font-weight: 800;
  text-align: center;
  text-decoration: none;

  &:active {
  	position: relative;
  	top: 1px;
  }

  &:hover {
    color: $font_color_btn;
  }
}

.btn-mini {
  font-size: 11px;
  height: 22px;
  line-height: 22px;
  padding: $btn_mini_padding;
}

.btn-small {
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  padding: $btn_small_padding;
}

.table .btn-small {
  padding: 0;
  width: 28px;
}

.btn {
  font-size: $font_size_default;
  height: 30px;
  line-height: 30px;
}

.btn-big {
  font-size: 18px;
  height: 44px;
  line-height: 40px;
  padding: $btn_big_padding;
}

.btn-group {
  &.right {
    margin-right: 10px;
  }

  &.three-btn {
    height: 31px;
    margin: 0 auto;
    width: 117px;

    a {
      margin-left: 0;

      &.middle {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  a {
    float: left;
    margin-left: 10px;
  }
}

.guardar-factura {
  &.col3 {
    float: right;
    margin-right: 0;
    margin-top: 20px;
  }
}

.acciones .wrap-delete-all {
  width: 141px;
}

.first .wrap-delete-all {
  left: 7px;
  width: 107px;
}

.wrap-delete-all {
  display: none;
  position: absolute;
  right: 7px;
  top: 10px;

  &.activated {
    display: block;
  }

  .btn-small {
    padding: 2px 10px;
    width: auto;
  }

  .option-cancel {
    background: url($sprite-elements) no-repeat;
    background-position: -372px -9px;
    cursor: pointer;
    display: block;
    height: 15px;
    top: -6px;
    right: 0;
    position: absolute;
    width: 12px;
  }  
}

@include btn($btn_success_color_first, $btn_success_color_second, success);
@include btn($btn_warning_color_first, $btn_warning_color_second, warning);
@include btn($btn_error_color_first, $btn_error_color_second, error);
@include btn($btn_delete_color_first, $btn_delete_color_second, delete);
@include btn($btn_second_color_first, $btn_second_color_second, second);