fieldset {
  border: 0;
  margin: 0;
  padding: 0;

  legend {
	  border-bottom: 1px solid #e5e5e5;
	  color: #666;
  	font-size: $font_default + 5;
  	font-weight: 700;
  	line-height: 40px;
  	margin: 0 0 20px 0;
  	padding: 0;
  	width: 100%;
  }
}

label,
input,
textarea {
  font-family: $font_default;
}

input,
textarea {
  border: 1px solid #ccc;
  font-size: $font_size_default - 1;
  padding: 0 10px;
  @include gradients(#EEE, #FCFCFC);
}

.controls {

    input:focus,
    textarea:focus { 
      box-shadow: inset -3px 0px 14px 1px #999;
      outline: 0;
      @include transition-dur(0.5s);
    }  
    
    // fix to IE
    input[type="checkbox"]:focus {
      background: transparent !important;
    }
}

// fix to IE
input[type="checkbox"] {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  overflow: hidden;
}


button[type="submit"],
input[type="submit"] {
  height: auto;
}

form.form-inline {
 
  input[type="text"],
  input[type="password"],
  input[type="email"], input.email,
  input[type="submit"], button[type="submit"] {
    display: inline-block;
  }

}

form .controls {
  overflow: hidden;

  &.input-append {
    input {
      border-bottom: 1px solid #CCC;
      border-left: 1px solid #CCC;
      border-right: none;
      border-top: 1px solid #CCC;
      float: left;
    }

    span {
      border-bottom: 1px solid #CCC;
      border-left: none;
      border-right: 1px solid #CCC;
      border-top: 1px solid #CCC;      
      float: left;
    }
  }
}

form.form-search {}
form.form-horizontal.full-width {
  margin: 0;

  .controls {
    margin: 15px 0;
  	width: 100%;

  	label {
  	  display: block;
  	}

  	textarea,
  	input[type="text"],
  	input[type="tel"], input.tel,
  	input[type="email"], input.email {
  	  width: 98%;
  	}

  	textarea {
  	  min-height: 200px;
  	  max-height: 300px;
  	  max-width: 98%;
  	  min-width: 98%;
  	}

  	button[type="submit"],
  	input[type="submit"] {
  	  width: 100%;	  	
  	}
  }
}

.form-box {
  &.libro-direcciones {

    fieldset {
      display: none;

      &.activated {
        display: block;
      }
    }

    .controls .col3 {
      margin-right: 30px;
    }
  }

  .wrap-form {
    border: 1px solid #CCC;
  }

  button {
    float: right;
    height: auto;
    margin: 0;

    &.filter {
      width: 120px;
    }
  }

  .controls {
    &.top {
      label {
        margin-top: 20px;
      }
    }

    .checkbox.top {
      margin-top: 25px;

      input[type="checkbox"] {
        margin-top: 12px;
        margin-right: 10px;
      }

      label {
        margin-top: 20px;
      }
    }

    &.col3 input.date {
      width: 90px;
    }

    &.datos {
      p {
        &.numero-requerimiento {
          margin-top: 20px;
        }

        span {
          font-weight: 700;
          margin-right: 10px;
        }
      }
    }
  }

  div.input-append {
    height: 35px;
    float: left;
    width: 140px;

    input.date,
    .add-on { 
      float: left;
    }

    input.date {
      margin-right: 0;
      width: 80px;

      @media only screen and (min-width: 1130px) {
        width: 90px
      }
    }

    .add-on {
      border: 1px solid #E1E1E1 !important;
      height: 33px;     
      width: 35px;
      @include hide-text();
      @include gradients(#FFF, #D6D6D6);
              
      .icon-calendar {
        height: 33px;
        width: 35px;
      }               
    }
  }   

  .add-btn {
    margin-left: 10px;
  }

  fieldset {

    button {
      &.btn-add-account-bank {
        line-height: 0;
        padding: 2px 5px;
      }
    }

    legend {
      border-bottom: 1px solid #CCC;
      height: 33px;
      line-height: 33px;
      margin: 0;
      padding: 0 10px;
      @include box-sizing();
      @include gradients(#F0F0F0, #E2E2E2);      
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      border: 1px solid #CCC;
      height: 33px;
      line-height: 33px;
      padding-right: 0;

      &.documento {
        float: left;
        width: 117px;

        @media only screen and (min-width: 1360px) {
          width: 175px;
        }
      }
    }

    textarea {
      height: 100px;
      margin-top: 20px;
      padding-bottom: 10px;      
      padding-top: 10px;
      width: 97.5%;

      &.no-margin {
        margin-top: 0;
      }

      @media only screen and (min-width: 1170px) {
        width: 98%;
      }
    }

    .controls {
      margin: 0 20px 20px;
    
      &.special {
        margin-left: auto;
        margin-right: auto;
        width: 720px;

        @media only screen and (min-width: 1360px) {
          width: 900px;
        }

        .col3 {
          margin-top: 20px;
        }
      }
    }

    .col3.with-btn,
    .col3.no-btn,
    .col6.no-btn {
      margin-left: 0;
    
      label {
        margin-top: 20px;
      }
    }

    .group-input {
      .col1 {
        margin: 5px;
        width: 50px;

        @media only screen and (min-width: 1130px) {
          width: 60px
        }

        @media only screen and (min-width: 1070px) {
          margin: 0 5px;
        }
      }  

      input {
        float: none;
      }   
    }

    .sub-title {
      box-shadow: inset 0px 2px 10px #333;
      clear: both;
      color: #FFF;
      height: 33px;
      font-size: 16px;
      line-height: 33px;
      margin: 0;
      padding: 0 15px;
      @include box-sizing();
      @include gradients(#7B7B7B, #666);       
    }  

    .table input[type="checkbox"] {
      height: 24px;
      width: 30px;

      &.borrar-todo {
        height: 15px;
      }
    }  
  }
}

.col3,
.col6 {
}

.col3 input[type="text"] {
  width: 94%;
}

.col6 {
  label {
    margin-top: 20px;
  }
  
  input[type="text"] {
    width: 99.5%;
  }
}

.form-list {
  height: 33px;
  padding: 0;
  margin: 0;
  @include gradients(#F0F0F0, #E2E2E2);

  li {
    border-right: 1px solid #CCC;
    color: #666;
    font-weight: 700;
    float: left;
    line-height: 33px;
    padding: 0 10px;
    
    &.activated {
      background: #FFF;
      pointer-events: none;
      cursor: default;
    }

    a {
      text-decoration: none;
    }
  }
}

.file {
  text-align: center !important;
}