#estadisticas {
 	border-bottom: 1px solid #ccc;
    float: left;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
	padding: 0;
    position: relative;
    width: 300px;

    @media only screen and(min-width: 1360px) {
        width: 375px;
    }               

    li {
    	bottom: 0;
        cursor: pointer;
    	list-style: none;
        position: absolute;
        float: none;
        display: inline-block;
        width: 60px;

        @media only screen and(min-width: 1360px) {
            width: 80px;
        }

        &:hover > span {
            top: -12px;
            @include transition-dur(1s);
        }

        &.list {
        	left: 10px;   
        }

        &.listII {
       		left: 80px;

            @media only screen and(min-width: 1360px) {
                left: 100px;
            }            
        }

        &.listIII {
        	left: 150px;
        
            @media only screen and(min-width: 1360px) {
                left: 190px;
            }           
        }

        &.listIV {
        	left: 220px;

            @media only screen and(min-width: 1360px) {
                left: 280px;
            }                       
        }
     
        span {
            background: white;
            border: 1px solid #ccc;
            border-radius: 17px;
            height: 17px;
            line-height: 17px;
            display: block;
            width: 17px;
            color: #777;
            margin: 0 auto;
            padding: 4px;
            font-size: 10px;
            font-weight: 700;
            text-align:center;
            position: relative;
            top: 150px;
            @include transition-dur(2s);            
        }      
    }    
}

.leyenda {
    float: left;  
    margin-left: 35px;  
    padding: 0;
    
    li {
        margin-bottom: 5px;

        &.title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 15px;
            margin-top: 20px;
        }

        span {
            border-radius: 15px;
            display: inline-block;
            height: 15px;
            margin-right: 10px;
            position: relative;
            top: 2px;
            width: 15px;
        }
    }   
}