/* grid for desktop. */

$wrap: $columns_width * $columns_total + $columns_margin * $columns_total - 1;

@for $i from 1 through $columns_total {
    .col#{$i} {
        width: $columns_width * $i + $columns_margin * $i - $columns_margin;
        float: left;
        margin: 0 $columns_margin/2;
    }
}

@for $i from 1 through $columns_total {
	.offset#{$i} {
		margin-left: $columns_width * $i + $columns_margin * $i + 10;
	}
}

.container {
  margin: 0 auto;
  width: $wrap + $columns_margin;
}