i {
	background: url($sprite-icons) no-repeat;
	display: inline-block;
	height: 30px;
	width: 30px;
}

.icon-menu { background-position: -199px 0; }
.icon-user { background-position: -12px 0; }
.icon-password { background-position: -60px 0; }
.icon-email { background-position: -108px 0; }
.icon-arrow { background-position: -160px 0; }
.icon-perfil-view { background-position: -231px 0; }
.icon-perfil-edit { background-position: -275px 0; }
.icon-password-change { background-position: -320px 0; }
.icon-logout { background-position: -366px 0; }
.icon-home { background-position: -410px 0; }
.icon-help { background-position: -448px 0; }
.icon-group-add { background-position: -496px -3px; }
.icon-group-list { background-position: -546px -4px; }
.icon-group-permissions { background-position: -22px -41px; }
.icon-accounts-associated { background-position: -72px -41px; }
.icon-taxation { background-position: -120px -41px; }
.icon-bills { background-position: -165px -41px; }
.icon-requirements { background-position: -210px -41px; }
.icon-collections { background-position: -259px -41px; }
.icon-add { background-position: -305px -41px; }
.icon-delete { background-position: -350px -41px; }
.icon-delete-single { background-position: -259px -81px; }
.icon-edit { background-position: -397px -41px; }
.icon-list { background-position: -443px -41px; }
.icon-resumen { background-position: -496px -41px; }
.icon-save { background-position: -543px -41px; }
.icon-approve { background-position: -25px -78px; }
.icon-reject { background-position: -76px -78px; }
.icon-bitacora { background-position: -122px -78px; }
.icon-back { background-position: -168px -78px; }
.icon-form-box { background-position: -211px -78px; }
.icon-calendar { background-position: -345px -79px; }
.icon-form-save { background-position: -442px -75px; }
.icon-form-cancel { background-position: -396px -75px; }
.icon-add-extra { background-position: -21px -119px; }
.icon-search-extra { background-position: -538px -78px; } 
.icon-btn-add { background-position: -72px -119px; }
.icon-btn-search { background-position: -119px -119px; }
.icon-adjuntar { background-position: -165px -120px; }
.icon-dolar { background-position: -208px -120px; }
.icon-edit-warning { background-position: -258px -120px; }
.icon-view { background-position: -304px -120px; }
.icon-modal { background-position: -352px -117px; }
.icon-graphic { background-position: -398px -117px; }