.user-online {
	.header-box {
		.icon-group-add {
			background-position: -501px -3px;
		}
	}
	
	ul {
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px solid #ccc;
			height: 35px;
			line-height: 35px;
			font-size: 14px;
			overflow: hidden;
			padding: 0 15px;

			&:hover {
				background: #EEE;
			}

			span {
				margin: 0;

				&.date {
					float: right;
					text-align: right;
				}
			}
		}
	}
}