.message-login {
	padding: 2px 0;
	margin: 30px 20px 0;

	&.error {
		background: $background_message_error;
	}

	&.confirmation-email {
		p {
			color: #333;
		}
	}

	p {
		color: #FFF;
		font-size: 13px;
		text-align: center;
	}
}

.message-notification {
	height: 31px;
	padding: 0 50px 0 10px;
	position: relative;
	
	&.success {
		border: 1px solid #029946;
		@include gradients(#02BF57, #029C47);
	}

	&.error {
		border: 1px solid #A95D02;
		background: $background_message_error;
	}

	p {
		color: #FFF;
		font-size: 13px;
		line-height: 33px;
		margin: 0;
	}

	.close {
		background: url($sprite-elements) no-repeat;
		background-position: -143px -5px;
		display: block;
		height: 20px;
		position: absolute;
		right: 5px;
		top: 6px;
		width: 20px;
	}
}