.content-modal {
	background: #FFF;
	border: 1px solid #CCC;
	left: 0;
	right: 0;
	margin: auto !important;
	top: 20%;
	position: fixed;
	box-shadow: 1px 1px 8px #333;
	width: 350px;
	z-index: 100;
	@include transition-dur(2s);

	&.closed {
		top: -999px;
	 	visibility: hidden;
	 	z-index: 0;		
	 	@include transition-dur(2s);
	}

	&.table-modal {
		width: auto;
		max-width: 600px;

		header {
			left: -10px;
			padding: 0 6px;
			width: 100%;
		}
	}

	&.modal-agregar-pago {
		top: 15%;
	}

	header {
		color: #FFF;
		height: 40px;
		position: relative;
		right: 3%;
		top: -1px;
		width: 361px;
		@include gradients(#2F6449, #214733);	

		h2 {
			font-size: 16px;
			line-height: 40px;
			margin: 0 25px;
		}	

		.fixed-prepend {
			background: url($sprite-elements) no-repeat;
			background-position: -9px -11px;
			bottom: -10px;
			height: 10px;
			left: -1px;
			position: absolute;
			width: 10px;
		}	

		.icon-modal {
			top: 2px;
			position: relative;
		}
	}

	div.input-append {
		margin: 0 !important;
		width: 100% !important;

		input.date {
			width: 84%;
		}
	}

	label {
		color: #333;
	}
		
	label,
	input,
	span {
		font-size: 16px;
		font-weight: 400;
		text-align: left;
	}

	input[type="text"] {
		width: 96%;
	}

	.buttons {
		margin-bottom: 0;

		.btn-small {
			padding: 0 7px;
			width: auto;

			&.cancel {
				margin-right: 10px;
			}
		}
	}

	.select2-container > a {
		float: none;
		margin: 0;
	}
}