.table {
	border-spacing: 0;
	margin-top: 20px;
	position: relative;	
	width: 100%;

	&.facturas {
		thead {
			td {

				&.first-td {
					width: 320px;
				}
			}
		}
	}

	thead {
		color: #fff;
		@include gradients(#28573F, #214733);
		
		tr {
			height: 50px;
		}	
	
		td {			
			border-right: 1px solid #1F412E;

			&.numero {
				width: 170px; 
			}

			&.descripcion {
				width: 325px;
			}

			&.acciones {
				width: 140px;
			}

			&.first {
				width: 101px;
			}
		}
	}

	tbody {
		tr {

		}

		td {
			border-bottom: 1px solid #CCC;			
			border-right: 1px solid #CCC;
			
			&.first {
				border-left: 1px solid #CCC;
			}

			&.last {
				width: 80px;
			}

			&.numero-operacion {
				padding: 10px 0;
				width: 80px;
			}

			&.monto {
				width: 90px;
			}

			a i {
				height: 26px;
			}
		}
	}

	tfoot {
		tr {
			td {

				&.total {
					color: #FFF;
					width: 140px;
					@include gradients(#28573F, #214733);
				}

				&.cantidad {
					border: 1px solid #CCC;
				}

				&.cantidades {
					border-bottom: 1px solid #CCC;
					border-right: 1px solid #CCC;
					border-top: 1px solid #CCC;
				}
			}
		}
	}

	td {
		font-size: 14px;
		padding: 10px;	
		text-align: center;

		div {
			margin: 0;

			&.calendar-center {
  				margin: 0 auto;
  				width: 300px;
			}

			&.input-append {
				margin: 0 5px;
			}
		}	
	}
}