// directories
$dir_img: "../images/";
$dir_fonts: "../fonts/";
$texture-header: "../images/texture-header.jpg";
$texture-menu: "../images/texture-menu.jpg";
$sprite-icons: "../images/sprite-icons.png";
$sprite-elements: "../images/sprite-elements.png";

// Grid
$columns_total: 12; 
$columns_width: 60px;
$columns_width_large_screen: 80px;
$columns_margin: 20px;

// fonts
$font_default: 'Noto Sans', sans-serif;
$font_size_default: 14px;

// colors
$background_color: #fff;
$background_message_error: #CA7002;
$font_color_content: #333;
$font_color_titles: #666;
$font_color_links: #029E48;
$font_color_btn: #fff;
$font_color_placeholder: #888;

// more colors
$greendark: #1E392B;
$greenmedium: #316149;
$greenlight: #00C16A;
$black: #333;
$bluelight: #6AA5BA;

// colors for buttons
$btn_success_color_first: #02BE57;
$btn_success_color_second: #029E48;
$btn_warning_color_first: #fbb450;
$btn_warning_color_second: #f89406;
$btn_error_color_first: #ad4541;
$btn_error_color_second: #942a25;
$btn_delete_color_first: #FD920F;
$btn_delete_color_second: #D27502;
$btn_second_color_first: #868686;
$btn_second_color_second: #717171;

// dimensions
$border: 1px solid #DDD;
$btn_big_padding: 11px 19px;
$btn_default_padding: 4px 12px;
$btn_small_padding: 0 10px;
$btn_mini_padding: 2px 6px;
$radius: 4px;
