@import "variables";
@import "mixins";
@import "icons";
@import "box";
@import "datepicker";
@import "select2";

body {
  background: $background_color;
  color: $font_color_content;
  font-family: $font-default;
  font-size: $font_size_default;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

a { 
  color: $font_color_content;

  &:hover {
    color: $font_color_links;
  }
}

h1 {
  font-size: 26px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 10px;
}
h6 {
  font-size: 6px;
}

p {
  margin: 10px 0;
}

.clear {
  clear: both;
}

.closed {
  display: none;
  visibility: hidden;  
}

.left {
  float: left;
}

.right {
  float: right;
}

.txtc {
  text-align: center;
}

.unstyled {
  list-style: none;
}

.grid > div {
  background: #ccc;
  border-radius: $radius;
  margin-top: 10px;
  margin-bottom: 20px; 
  text-align: center;
  line-height: 50px;
}

.separation {
  border-bottom: 1px solid #CCC;
  clear: both;
  display: block;
  width: 100%;
}

// window modal
.turned-off {
  background: #000;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  @include opacity(.6);

  &.closed {
    display: none;
  }
}

@import "buttons";
@import "form";
@import "messages";
@import "table";
@import "modal";