@import "variables";
@import "mixins";
@import "desktop/commons";
@import "desktop/login";
@import "desktop/pagination";
@import "introjs";
@import "graphic";
@import "list-users-online";

@media only screen and (max-width: 1359px) {
  @import "grid";
}

@media only screen and (min-width: 1360px) {
  @import "grid-large-screen";
}

.container-section {
	float: left;
	margin-right: 20px;
	width: 380px;

	@media only screen and(min-width: 1360px) {
		width: 480px;
	}
}

