<div class="Concepto form">
    <?php echo $this->Form->create('Concepto'); ?>
	<fieldset>
            <legend>Concepto</legend>
	<?php
        echo $this->Form->input('id');
        echo $this->Form->input('nombre');
        echo $this->Form->input('impuesto_id');
        echo $this->Form->input('activo');
	?>
	</fieldset>
<?php echo $this->Form->end('Guardar'); ?>
</div>