<?php echo $this->Form->create('Clasificacion'); ?>
	<fieldset>
		<legend><?php echo __('Agregar Clasificacion'); ?></legend>
	<?php
		echo $this->Form->input('nombre');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>