<div class="clasificaciones form">
    <?php echo $this->Form->create('Clasificacion'); ?>
	<fieldset>
		<legend><?php echo __('Editar Clasificacion'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('nombre');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
