<?php echo $this->Form->create('TipoDocumento'); ?>
	<fieldset>
		<legend><?php echo __('Editar Tipo de Documento'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('nombre');
        echo $this->Form->input('nombre_corto');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>