<div class="tipoInstrumentos form">
<?php echo $this->Form->create('TipoInstrumento'); ?>
	<fieldset>
		<legend><?php echo __('Agregar Tipo de Instrumento de Pago'); ?></legend>
	<?php
		echo $this->Form->input('nombre');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
