<?php echo $this->Form->create('Rubro'); ?>
	<fieldset>
		<legend><?php echo __('Editar Rubro'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('nombre');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>